<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <div class="input-container">
        {% for method in methodList %}
        <form class="form" method="post">
            <div class="form-group">
                <input type="hidden" name="prout" value="{{ method }}">
                <button value="{{ request.form['title'] }}" type="submit" class="btn btn-primary">{{ method.upper() }}</button>
            </div>
        </form>
        {% endfor %}
    </div>
</body>
</html>